body {
  margin: 0;
  height: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 400;
  color: #293651;
}

.container {
  width: 100%;
  margin: auto;
}

.intro {
  width: 430px;
  margin: auto;
}

.barras {
}

h1 {
  font-size: 30px;
}

h2 {
  color: #00a78e;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 3px;
}

h3 {
  font-weight: 200;
  font-size: 22px;
  letter-spacing: 3px;
}

p {
  color: #949494;
  font-size: 14px;
}

button {
  background-color: #00a78e;
  color: white;
  width: 170px;
  height: 38px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

img {
  width: 250px;
}

.imagem {
  text-align: center;
}

.texto {
  font-size: 30px;
}

.motivos {
  text-align: justify;
}

/*...................Barrinhas verdes que se repetem..................*/
.barrinhas {
  margin-left: 10vw;
}

.barra1,
.barra2,
.barra3 {
  height: 0.1em;
  background-color: rgb(19, 142, 101);
  display: inline-block;
  border-radius: 2vw;
}

.barra1 {
  width: 2.4em;
}
.barra2 {
  width: 0.8em;
}
.barra3 {
  width: 0.4em;
}

/*.....................................................................*/
